<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Contact Us</h1>
        <button class="button button-clear button-primary" ng-click="modal_about.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
            <strong style="color:#135dda;">Thank you for trying Reddle.</strong>
            <br /><br />
                We strive to create a collborative community within the college culture.  
            <br /><br />
            What we offer:
            <br /><br />
            <strong>
              <ul style="padding:.9em;">
                <li><p>Get and impart wisdom in small group settings</p></li>
                <li><p>Anonymously ask questions and have your entire class have a crack at answering them.</p></li>
                <li><p>Immediate, indepth communication via private chat</p></li>
                <li><p>Join classes and other groups for socializing</p></li>
              </ul>
            </strong>
            <br />
            If you're having problems with the app or for any other reason, give us a holla.
            <br />
            <a href="mailto:theteam@theopencircles.com">theteam@theopencircles.com</a> 
        </div>
    </ion-content>
</ion-modal-view>