<ion-view view-title="Schedule an event - {{user.question.amount}} of 100">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Ask Question</h1>
        <button class="button button-clear button-primary" ng-click="modal1.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <!--<label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Groups" ng-change="searchg()" ng-model="data.groups">
            </label>-->
            <label class="item item-input item-select">
                <div class="input-label">
                    Groups
                </div>
                <select ng-model="user.group" ng-options="select.groupName for select in data.listg">
                </select>
            </label>
            <label class="item item-input">
                <textarea my-maxlength="100" row="0" name="comment" id="comment-textarea" class="no-resize" ng-model="user.question" placeHolder="Describe Event - min of 15 characters max 100 ..."></textarea>
            </label>
            <label ng-show="sudo">
                <ion-checkbox ng-model="user.ischecked">check to make question public</ion-checkbox>
            </label>
        </div>
        <button ng-disabled="disable" class="button button-full button-positive" ng-click="ask(user)">Add Event</button>
    </ion-content>
</ion-view>