<ion-view hide-nav-bar="true" class="padding bgcolor">
<ion-header-bar class="transparent">
    <button class="button button-clear button-primary" ng-click="about()">
      Reddle
    </button>
    <button class="button button-clear button-primary" ng-click="openSignIn()">
      Log In
    </button>
</ion-header-bar>
    <ion-content class="padding transparent">
      <ion-list>
        <h4 class="hometxt">Intra-college intra-class commincation</h4>
        <img src="img/logo1.png" class="logo">
        <h4 class="hometxt"> Sign up; join a class or group and start conversing with fellow students</h4>
  </ion-list>
        <div class="list">
            <button ng-click="openModal('student_signup')" class="button button-full button-light button-white">
                F'n sign up
            </button>
        </div>
         <ion-list>
  </ion-list>
    </ion-content>
</ion-view>