<ion-view view-title="Groups">
    <ion-content class="padding">
      <!--<h4>Join a group</h4>
         <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Group" ng-change="searchg()" ng-model="data.groups">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Select Group
                </div>
                <select ng-model="user.group" ng-options="select.groupName for select in data.list" ng-change="update(user.group)">
                </select>
           </label>
        </div>
        part of add/edit group
        <div class="list">
          <h4>Create a group</h4>
            <label class="item item-input">
                <input type="text" placeholder="Name Group" ng-model="add.newgroup">
            </label>
            <button ng-disabled="hideNewGroup" class="button button-full button-positive" ng-click="create(add)">Create Group</button>
            <button ng-show="showEditGroup" class="button button-full button-assertive" ng-click="edit(add)">Delete Group</button>
      </div>-->
      <!--end add/edit group-->
    </ion-content>
    <ion-footer-bar ui-view="footer">
    <button class="button button-clear button-primary" ng-click="logout()">
      Log Out
    </button>
    <!-- <button class="button button-clear button-primary" ng-click="deleteAccount()">
        Delete Account
     </button>-->
</ion-footer-bar>
<div class="float-button1" style="
          background-color:#303f9f;
          opacity: 0.9;
          color: white;
          border-radius: 50%;
          width: 30px;
          padding: 25px;
          font-size: 40px;
          position: fixed;
          bottom: 5%;
          right: 5%;
          z-index: 1000;
          ">
        <span class="height-fix1" ng-click="askQuestion()">
            <a class="content" style="
                position: absolute;
                left: 0;
                top: 69%;
                height: 100%;
                width: 100%;
                text-align: center;
                margin-top: -20px;
                color: white;
            ">
                <i class="ion-ios-arrow-up">?</i>
            </a>
         </span>
    </div>
</ion-view>
